{% extends 'base.html' %}
{% block main %}
    <br><br>
<div class="badge text-wrap mx-auto" style="width: 20rem; background-color: rgb(142, 177, 178);">
    <p class="text-center">
        <p class="fs-3">Account Balance: 1000000000</p>  
    </p>   
</div>

<!-- <p class="fs-2">Account Balance: 1000000000</p> -->

<br><br>
  <p class="fs-2">New Transaction:</p>
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's Account ID" aria-label="Recipient's Account ID">
    <span class="input-group-text">Rs.</span>
    <input type="text" class="form-control" placeholder="Amount" aria-label="Amount">
  </div>

<br>

<p class="fs-2">Transaction History:</p>
<table class="table table-success table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">TransactionID</th>
        <th scope="col">Recepient</th>
        <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>3142czv627be2n9</td>
        <td>Otto</td>
        <td>5000</td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>devwtbz73658nmzm</td>
        <td>Thornton</td>
        <td>17000</td>
        </tr>
    </tbody>
  </table>
{% endblock main %}
